services:
  cassandra:
    image: cassandra:5.0.6
    container_name: cassandra
    env_file:
      - .env
    ports:
      - "9042:9042"
    volumes:
      - cassandra-data:/var/lib/cassandra

  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka
    env_file:
      - .env
    ports:
      - "9092:9092"

  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.5.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es-data:/usr/share/elasticsearch/data

volumes:
  pg-data:
  cassandra-data:
  es-data:
