spring:
  application:
    name: users-microservice

  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

server:
  port: ${PORT:8080}

logging:
  level:
    root: ${LOG_LEVEL:INFO}
    com.wannaverse: ${LOG_LEVEL:TRACE}