spring:
  application:
    name: users-microservice

  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres_db
    username: postgres_user
    password: password

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: ${LOG_LEVEL:INFO}
    com.wannaverse: ${LOG_LEVEL:TRACE}